section {
  border-left: 1px solid #cccccc;
  
  .user-detail-header {
    position: relative;

    .background-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      filter: blur(4px);
      -webkit-filter: blur(4px);
      height: 20rem;
      width: 100%;
    }

    .user-header-absolute-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
    }
  
    .user-img-container {
      z-index: 10;
      margin: 0 auto;
      width: 9rem;
      padding: 0 8px 0 0;
      
      .user-img {
        border-radius: 50%;
        border: 3px solid #fff;
        width: 100%;
      }
    }

    .selected-user-name {
      color: #fff;
      font-size: 18px;
      margin: 0.5rem 0 0 0;
      text-align: center;
    }

    .selected-user-username {
      font-size: 14px;
      color: #fff;
      margin: 0;
      text-align: center;
    }

  }

  .user-detail-info {
    .info-section {
      margin: 1rem;

      :nth-child(1) {
        padding-top: 1rem;
      }

      .subtitle {
        color: rgb(110, 115, 124);
        margin: 0;
        padding-bottom: 0.5rem;
      }

      .info-value {
        margin: 0;
      }

    }
  }

}
