.main-container {
  display: flex;

  .users {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    max-width: 60%;

    .user-item {
      min-width: 50%;
    }
  }

  .user-detail {
    width: 40%;
    max-width: 40%;
  }

}