<div class="main-container">
  <h1>Users</h1>
  <p class="instructions">If you want to get a specific user's contact information, just select group and then select him or her from the list.</p>
  
  <div class="select-section">
    <h4>Select group of users:</h4>
    
    <mat-form-field class="filters-form-field" floatLabel="never">

      <mat-label>Select a group</mat-label>
      
      <mat-select FormControl="selectCtrl" 
        class="filters-select"
        (selectionChange)="onSelectionChange($event, value)">
        
        <mat-option *ngFor="let option of filterOptions" 
          [value]="option.value"> 
          {{option.label}} 
        </mat-option>      
      </mat-select>

    </mat-form-field>
  </div>
  
  <app-users-list></app-users-list>
</div>
